<div class="content-container">
    <app-article-image title="Jobs From"
                       coloredTitle="A-Z"
                       text="Lorem Ipsum is simply dummy text of the printing and typesetting industry.\
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, \
                        hen an unknown printer took a galley of type and scrambled it to make a type \
                        `specimen book. It has survived not only five centuries, but also the leap\
                         into electronic typesetting, remaining essentially unchanged. It was popularised in" 
                       imgSrc="../assets/man.svg"
                       class="section1">
    </app-article-image>
    <app-text-button text="SupportFinity General hiring guidelines for hiring <jobs>s"
                    buttonText="Hiring Guidelines"></app-text-button>
    <app-article-image title="What we care about SupportFinity"
                       text="The sole goal of our complicated hiring process to maximize the value \
                       and the contribution your <job>s will add to your business, we provide unique \
                        benefits for our full time people to making sure we operate at lowest attrition levels." 
                       imgSrc="../assets/mountain.svg"
                       class="section2">
    </app-article-image>
  <img imag>
</div>
