.section2 {
    font-weight: 450;
}
.section2 .container {
    align-items: center !important;
}

.section1 h2{
    font-size: xx-large;
    
}
.section1 img{

    height: auto;
width: auto;
max-width: 300px;
max-height:400px;
   
}
